/* some basic styling */
button {
  margin: 5px;
  font-size: 1.5em;
  font-weight: bold;
  background: linear-gradient( to top, limegreen, lime); /* lawngreen, springgreen); */
  border-radius: 10px;
}
button:hover {
  box-shadow: 0px 0px 10px yellow;
}
button:focus {
  outline: 0;
  box-shadow: 0px 0px 10px yellow;
}

.button-active {
  box-shadow: 0px 0px 10px orange;
}
